<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script>
        window.onload = function() {
            if (window.history && window.history.pushState) {
                window.history.pushState('forward', null, './#forward');
                window.onpopstate = function(event) {
                    if (event.state && event.state === 'forward') {
                        window.history.pushState('forward', null, './#forward');
                    }
                };
            }
        }
    </script>

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

        body{
            font-family: "Roboto", sans-serif;
        }
    </style>

</head>
<body>
    
