<% include('../layouts/header.ejs') %>

<div style="text-align: center;">

    <h1 style="text-decoration: underline;">Welcome to Home Page</h1>

    <button style="padding: 10px; cursor: pointer;"><a style="text-decoration: none;font-weight: 600;" href="/logout" >Logout</a></button>

</div>

<% include('../layouts/footer.ejs') %>